###{{ ansible_managed }}####

includedir /etc/krb5.conf.d/
includedir /var/lib/sss/pubconf/krb5.include.d/

[libdefaults]
  default_realm = IMIS.COM
  dns_lookup_realm = true
  rdns = false
  dns_canonicalize_hostname = false
  dns_lookup_kdc = true
  ticket_lifetime = 24h
  forwardable = true
  udp_preference_limit = 0
  default_ccache_name = KEYRING:persistent:%{uid}
  pkinit_eku_checking = none
{% for server in kdc_list %}
  pkinit_kdc_hostname = {{ server }}
{% endfor %}



[realms]
  {{ result_ipaclient_test.realm }} = {
{% for idm_primary in result_ipaclient_test.servers %}
    kdc = {{ idm_primary }}:88
    master_kdc = {{ idm_primary }}:88
    admin_server = {{ idm_primary }}:749
    kpasswd_server = {{ idm_primary }}:464
{% endfor %}
    default_domain = {{ result_ipaclient_test.client_domain }}
    pkinit_anchors = FILE:/var/lib/ipa-client/pki/kdc-ca-bundle.pem
    pkinit_pool = FILE:/var/lib/ipa-client/pki/ca-bundle.pem
  }


[domain_realm]
  .imis.com = {{ result_ipaclient_test.realm }}
  imis.com = {{ result_ipaclient_test.realm }}
  {{ inventory_hostname }} = {{ result_ipaclient_test.realm }}
